# <aside>
üí° **Question 1**

Given an integer¬†`n`, return¬†*`true`¬†if it is a power of two. Otherwise, return¬†`false`*.

An integer¬†`n`¬†is a power of two, if there exists an integer¬†`x`¬†such that¬†`n == 2x`.

**Example 1:**
Input: n = 1 

Output: true

**Example 2:**
Input: n = 16 

Output: true

**Example 3:**
Input: n = 3 

Output: false

</aside>

In [23]:
def power_of_two(n):
    if n == 1:
        return True
    elif n % 2 == 1 or n == 0:
        return False
    else:
        return power_of_two(n//2)

In [24]:
power_of_two(16)

True

In [25]:
power_of_two(0)

False

# <aside>
üí° **Question 2**

Given a number n, find the sum of the first natural numbers.

**Example 1:**

Input: n = 3 

Output: 6

**Example 2:**

Input  : 5 

Output : 15

</aside>

In [32]:
def sum_of_natural_numbers(n):
    if n == 0:
        return n
    else:
        return n+sum_of_natural_numbers(n-1)

In [34]:
sum_of_natural_numbers(5)

15

# <aside>
üí° **Question 3**

Given a positive integer, N. Find the factorial of N. 

**Example 1:**

Input: N = 5 

Output: 120

**Example 2:**

Input: N = 4

Output: 24

</aside>

In [45]:
def factorial(n):
    if n == 1:
        return n
    elif n == 0:
        return 1
    else:
        return n*factorial(n-1)

In [47]:
factorial(5)

120

In [48]:
factorial(4)

24

# <aside>
üí° **Question 4**

Given a number N and a power P, the task is to find the exponent of this number raised to the given power, i.e. N^P.

**Example 1 :** 

Input: N = 5, P = 2

Output: 25

**Example 2 :**
Input: N = 2, P = 5

Output: 32

</aside>

In [93]:
def power_of_n(n, p):
    if p == 1:
        return n
    else:
        return n * power_of_n(n, p-1)

In [94]:
power_of_n(5, 2)

25

In [96]:
power_of_n(2, 5)

32

# <aside>
üí° **Question 5**

Given an array of integers¬†**arr**, the task is to find maximum element of that array using recursion.

**Example 1:**

Input: arr = {1, 4, 3, -5, -4, 8, 6};
Output: 8

**Example 2:**

Input: arr = {1, 4, 45, 6, 10, -8};
Output: 45

</aside>

In [50]:
def max_num(arr, n):
    if n == 1:
        return arr[0]
    else:
        return max(arr[n-1], max_num(arr, n-1))

In [51]:
max_num([1, 4, 3, -5, -4, 8, 6], n=7)

8

In [52]:
max_num([1, 4, 45, 6, 10, -8], n=6)

45

# <aside>
üí° **Question 6**

Given first term (a), common difference (d) and a integer N of the Arithmetic Progression series, the task is to find Nth term of the series.

**Example 1:**

Input : a = 2 d = 1 N = 5
Output : 6
The 5th term of the series is : 6

**Example 2:**

Input : a = 5 d = 2 N = 10
Output : 23
The 10th term of the series is : 23

</aside>

In [112]:
def series(a, d, n):
    if n == 1:
        return a
    else:
        return series(a+d, d, n-1)

In [114]:
series(2, 1, 5)

6

In [115]:
series(5, 2, 10)

23

# <aside>
üí° **Question 7**

Given a string S, the task is to write a program to print all permutations of a given string.

**Example 1:**

***Input:***

*S = ‚ÄúABC‚Äù*

***Output:***

*‚ÄúABC‚Äù, ‚ÄúACB‚Äù, ‚ÄúBAC‚Äù, ‚ÄúBCA‚Äù, ‚ÄúCBA‚Äù, ‚ÄúCAB‚Äù*

**Example 2:**

***Input:***

*S = ‚ÄúXY‚Äù*

***Output:***

*‚ÄúXY‚Äù, ‚ÄúYX‚Äù*

</aside>

In [22]:
def permutations(s):
    pass

In [23]:
permutations("ABC")

# <aside>
üí° **Question 8**

Given an array, find a product of all array elements.

**Example 1:**

Input  : arr[] = {1, 2, 3, 4, 5}
Output : 120

**Example 2:**

Input  : arr[] = {1, 6, 3}
Output : 18

</aside>

In [213]:
def product_of_array(arr):
    if len(arr) == 0:
        return 1
    else:
        return arr[0] * product_of_array(arr[1:])

In [214]:
product_of_array([1, 2, 3, 4, 5])

120

In [215]:
product_of_array([1, 6, 3])

18